{% extends "base.html" %}


{% block content %}
<!-- Table 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">

  <div class="container">
    <h4 class="card-title widget-card-title mb-4">Все мероприятия</h4>

    <div class="row justify-content-center">{% for event in events %}
      <div class="col-12 col-lg-12">


        <div class="card widget-card border-light bg-light shadow-sm">
          <div class="card-body p-4">
            <h4 class="card-title widget-card-title mb-4">{{ event.name }}</h4>
            <div class="table-responsive bg-light">
              <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0 bg-light">
                <thead>
                  <tr>
                    <th>Город</th>
                    <th>Заявки</th>
                    <th>Участники</th>
                    <th>Дата начало</th>
                    <th>Дата окончание</th>
                    <th>Старший наряда</th>
                    <th>Действия</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <h6 class="mb-1">{{ event.cities.name }}</h6>
                      <span class="text-secondary fs-7">Казахстан</span>
                    </td>
                    <td>
                      <a href="{{ url_for('get_requests_by_event_id', event_id=event.id) }}">
                        {{ event.requests|length }}
                      </a>
                    </td>
                    <td>
                      <a href="{{ url_for('get_attendees_by_event_id', event_id=event.id) }}">
                        {{ event.requests | map(attribute='attendees') | map('length') | sum }}
                      </a>
                    </td>
                    <td>{{ event.date_start }}</td>
                    <td>{{ event.date_end }}</td>
                    <td>{{ event.lead }}</td>
                    <td>
                      <a href="{{ url_for('create_attendee_form', event_id=event.id) }}">
                        <img src="{{ url_for('static', path='/img/plus.svg') }}" height="30" width="30">
                      </a>
                      <a href="/api/client/events/update/event_{{ event.id }}">
                          <img src="{{ url_for('static', path='/img/update.svg') }}" width="30" height="30">
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

