{% extends "base.html" %}


{% block content %}
<!-- Table 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
        <div class="card widget-card border-light bg-light shadow-sm">
          <div class="card-body p-4">
            <h5 class="card-title widget-card-title mb-4">Все мероприятия</h5>
            <div class="table-responsive bg-light">
              <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0 bg-light">
                <thead>
                  <tr>
                    <th>Название</th>
                    <th>Город</th>
                    <th>Заявки</th>
                    <th>Участники</th>
                    <th>Дата начало</th>
                    <th>Дата окончание</th>
                    <th>Старший наряда</th>
                  </tr>
                </thead>
                <tbody>
                {% for event in events %}
                  <tr>
                    <td>
                      <a href="event_detail.html">
                        <h6 class="mb-1">#900</h6>
                        <span class="text-secondary fs-7">{{ event.name }}</span>
                      </a>
                    </td>
                    <td>
                      <h6 class="mb-1">Астана</h6>
                      <span class="text-secondary fs-7">Казахстан</span>
                    </td>
                    <td>
                      <a href="requests.html">
                        27
                      </a>
                    </td>
                    <td>
                      <a href="all_attendees.html">
                        1359
                      </a>
                    </td>
                    <td>14-04-2024</td>
                    <td>16-04-2024</td>
                    <td>Таласбеков Е.А.</td>
                  </tr>
                {% endfor %}
                  <tr>
                    <td>
                      <a href="#">
                        <h6 class="mb-1">#902</h6>
                        <span class="text-secondary fs-7">АНК</span>
                      </a>
                      
                    </td>
                    <td>
                      <h6 class="mb-1">Астана</h6>
                      <span class="text-secondary fs-7">Казахстан</span>
                    </td>
                    <td>
                      <a href="requests.html">
                        27
                      </a>
                    </td>
                    <td>
                      <a href="all_attendees.html">
                        1359
                      </a>
                    </td>
                    <td>14-04-2024</td>
                    <td>16-04-2024</td>
                    <td>Таласбеков Е.А.</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">
                        <h6 class="mb-1">#903</h6>
                        <span class="text-secondary fs-7">ШОС 2</span>
                      </a>
                      
                    </td>
                    <td>
                      <h6 class="mb-1">Астана</h6>
                      <span class="text-secondary fs-7">Казахстан</span>
                    </td>
                    <td>
                      <a href="requests.html">
                        27
                      </a>
                    </td>
                    <td>
                      <a href="all_attendees.html">
                        1359
                      </a>
                    </td>
                    <td>14-04-2024</td>
                    <td>16-04-2024</td>
                    <td>Таласбеков Е.А.</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">
                        <h6 class="mb-1">#904</h6>
                        <span class="text-secondary fs-7">ШОС 3</span>
                      </a>
                      
                    </td>
                    <td>
                      <h6 class="mb-1">Астана</h6>
                      <span class="text-secondary fs-7">Казахстан</span>
                    </td>
                    <td>
                      <a href="requests.html">
                        27
                      </a>
                    </td>
                    <td>
                      <a href="all_attendees.html">
                        1359
                      </a>
                    </td>
                    <td>14-04-2024</td>
                    <td>16-04-2024</td>
                    <td>Таласбеков Е.А.</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

