{% extends "base.html" %}


{% block content %}
<!-- Table 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
        <div class="card widget-card border-light bg-light shadow-sm">
          <div class="card-body p-4">
            <h5 class="card-title widget-card-title mb-4">Все мероприятия</h5>
            <div class="table-responsive bg-light">
              <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0 bg-light">
                <thead>
                  <tr>
                    <th>Название</th>
                    <th>Город</th>
                    <th>Заявки</th>
                    <th>Участники</th>
                    <th>Дата начало</th>
                    <th>Дата окончание</th>
                    <th>Старший наряда</th>
                    <th>Д/у</th>
                  </tr>
                </thead>
                <tbody>
                {% for event in events %}
                  <tr>
                    <td>
                      <a href="event_detail.html">
                        <h6 class="mb-1">900</h6>
                        <span class="text-secondary fs-7">{{ event.name }}</span>
                      </a>
                    </td>
                    <td>
                      <h6 class="mb-1">{{ event.cities.name }}</h6>
                      <span class="text-secondary fs-7">Казахстан</span>
                    </td>
                    <td>
                      <a href="{{ url_for('get_requests_by_event_id', event_id=event.id) }}">
                        {{ event.requests|length }}
                      </a>
                    </td>
                    <td>
                      <a href="{{ url_for('get_attendees_by_event_id', event_id=event.id) }}">
                        {{ event.requests | map(attribute='attendees') | map('length') | sum }}
                      </a>
                    </td>
                    <td>{{ event.date_start }}</td>
                    <td>{{ event.date_end }}</td>
                    <td>{{ event.lead }}</td>
                    <td><a href="{{ url_for('create_attendee_form', event_id=event.id) }}"><img src="{{ url_for('static', path='/img/plus.svg') }}" height="30px" width="30px"></a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

