<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCR SGO RK</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!-- Navbar 1 - Bootstrap Brain Component -->
<nav class="navbar navbar-expand-md bg-light bsb-navbar bsb-navbar-hover bsb-navbar-caret shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="navbar.html">
      <img src="./sgork.png" width="28" height="34">     Аккредитационный центр
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#!" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Пользователь</a>
            <ul class="dropdown-menu border-0 shadow bsb-zoomIn" aria-labelledby="accountDropdown">
              <li><a class="dropdown-item" href="#!">О пользователи</a></li>
              <li><a class="dropdown-item" href="create_event.html">Создать мероприятие</a></li>
              <li><a class="dropdown-item" href="create_user.html">Добавить пользователя</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="loginform.html">Выйти</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- Table 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
        <div class="card widget-card border-light bg-light shadow-sm">
          <div class="card-body p-4">
            <h5 class="card-title widget-card-title mb-4">Заявки на <a href="event_detail.html">такое</a> мероприятие</h5>
            <p>8 ответственных, 27 заявок, 56 участников</p>
            <div class="table-responsive bg-light">
              <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0 bg-light">
                <thead>
                  <tr>
                    <th>Название</th>
                    <th>Участники</th>
                    <th>Дата подачи</th>
                    <th>Ответственный</th>
                    <th>Статус</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="request_attendees.html">
                        140420242000
                      </a>
                    </td>
                    <td>
                      <a href="request_attendees.html">
                        56
                      </a>
                    </td>
                    <td>12-04-2024</td>
                    <td>Таласбеков Е.А.</td>
                    <td>
                        <span class="badge bg-success bsb-w-85">Новое</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">
                        140420242000
                      </a>
                    </td>
                    <td>
                      <a href="request_attendees.html">
                        56
                      </a>
                    </td>
                    <td>12-04-2024</td>
                    <td>Таласбеков Е.А.</td>
                    <td>
                        <span class="badge bg-danger bsb-w-85">Просмотрен</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">
                        140420242000
                      </a>
                    </td>
                    <td>
                      <a href="request_attendees.html">
                        56
                      </a>
                    </td>
                    <td>12-04-2024</td>
                    <td>Таласбеков Е.А.</td>
                    <td>
                        <span class="badge bg-warning bsb-w-85">В процессе</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">
                        140420242000
                      </a>
                    </td>
                    <td>
                      <a href="request_attendees.html">
                        56
                      </a>
                    </td>
                    <td>12-04-2024</td>
                    <td>Таласбеков Е.А.</td>
                    <td>
                        <span class="badge bg-warning bsb-w-85">В процессе</span>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- Bootstrap Bundle with Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>