{% extends "base.html" %}


{% block content %}
{% for req in requests %}
<!-- Table 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
        <div class="card widget-card border-light bg-light shadow-sm">
          <div class="card-body p-4">
            <h5 class="card-title widget-card-title mb-4">Участники одной заявки</h5>
            <p>56 участников</p>
            <div class="table-responsive bg-light">
              <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0 bg-light">
                <thead>
                  <tr>
                    <th>Фото</th>
                    <th>Документ</th>
                    <th>ФИО</th>
                    <th>ИИН</th>
                    <th>Гражданство</th>
                    <th>Место работы</th>
                    <th>Обьект</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="attendee_detail.html">
                        <img src="{{ req.attendees.photo }}" width="70" height="70">
                      </a>
                    </td>
                    <td>
                      <a href="attendee_detail.html">
                        <img src="{{ req.attendees.doc_scan }}" width="70" height="70">
                      </a>
                    </td>
                    <td>{{ req.attendees.surname }} {{ req.attendees.firstname }} {{ req.attendees.patronymic }}</td>
                    <td>{{ req.attendees.iin }}</td>
                    <td>{{ req.attendees.birth_date }}</td>
                    <td>{{ req.attendees.post }}</td>
                    <td>{{ req.attendees.visit_object }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock %}