{% extends "base.html" %}


{% block content %}
<!-- Table 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
        <div class="card widget-card border-light bg-light shadow-sm">
          <div class="card-body p-4">
            <h5 class="card-title widget-card-title mb-4">Все мероприятия</h5>
            <div class="table-responsive bg-light">
              <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0 bg-light">
                <thead>
                  <tr>
                    <th>Название</th>
                    <th>Почта</th>
                    <th>ИИН</th>
                    <th>Номер телефона</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for user in users %}
                  <tr>
                    <td>
                      <a href="user_detail.html">
                        <h6 class="mb-1">#900</h6>
                        <span class="text-secondary fs-7">{{ user.name }}</span>
                      </a>
                    </td>
                    <td>
                      <h6 class="mb-1">{{ user.email }}</h6>
                      <span class="text-secondary fs-7">Казахстан</span>
                    </td>
                    <td>
                      <a href="/api/client/requests">
                        {{ user.iin }}
                      </a>
                    </td>
                    <td>
                      <a href="/api/client/attendee/all">
                        {{ user.phone_number }}
                      </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

